body {
    font-family: Arial, sans-serif;
    background-color: rgb(243, 205, 230);
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    position: relative;
    display: inline-block;
    background-color: rgb(180,180,180,0.5);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    text-align: center;
    width:400px;
    height: 400px;
    margin-left: 50px;
    margin-bottom: 10px;
}

h1 {
    margin-bottom: 10px;
    font-family: 'Assistant',Regular;
    text-align: center;
}
.quote{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}
button {position:relative;
    display: block;
    margin-left: 150px;
    margin-bottom: 35px;
    padding: 10px 20px;
    width: 100px;
    height: 50px;
    background-color: white;
    border-radius: 8px;
    opacity: 1;
}
.openInputButton{
    position: relative;
    margin-top: 0px;
}
#inputContainer {
    margin-top: 20px;
}

input[type="url"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
}
.points{
   margin-left: 250px;
   width:200px;
   position: absolute;
  margin-top: -400px;
    display: inline-block;
}
.myhints{
    font-family: 'Assistant',Regular;
}
.success{
    margin-left: 350px;
   width:200px;
   position: fixed;
  margin-top: -400px;
}
.myimg{
    position: relative;
 display: inline;
 width:400px;
 margin-left: 10px;
 height: auto;
}
